.container {
    font-family: 'Ribeye', cursive;
}

.navbar {
    display: inline-block;
}

.entete {
    background-color: tomato;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
}


